:root{
    --vtiBlauw: #31b1c9
}

body{
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    color:var(--vtiBlauw);
}

.inhoudstafel
,tr, th, td{
    border: 2px solid var(--vtiBlauw);
    border-collapse: collapse;
}

td{
    border-style: dotted;
}
th{
    text-decoration: wavy;
    text-transform: uppercase;
}
td{
    padding: 15px;
    
}

.error{
    font-weight: bolder;
    color:red;
}

.loading{
  width: 200px;
  height: 200px;
  border: 5px solid var(--vtiBlauw);
  border-top-color: var(--vtiBlauw); /* Blauwe kleur bovenaan */
  color: var(--vtiBlauw);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer{
    position: static;
    bottom: 5px;
}